* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.beralih {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  .beralih input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .penggeser {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #d4acfb;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .penggeser:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .beralih input:checked + .penggeser {
    background: #b84fce;
  }

  .beralih input:focus + .penggeser {
    box-shadow: 0 0 1px #b84fce;
  }

  .beralih input:checked + .penggeser:before {
    transform: translateX(1.6em);
    width: 2em;
    height: 2em;
    bottom: 0;
  }
